
<div class="container">

    <div class="p-3 mb-2 bg-warning text-dark" >
        <label class="col-md-4" for="environment">Environment</label>
        <input class="col-md-8 form-control form-control-rounded" id="environment" type="text" [(ngModel)]="environment"
            value="{{environment}}" name="environment" disabled>
    </div>
    <div class="p-3 mb-2 bg-warning text-dark">
        <label class="col-md-4" for="ide">IDE</label>
        <input class="col-md-8 form-control form-control-rounded" id="ide" type="text" [(ngModel)]="ide"
            value="{{ide}}" name="ide" disabled>
    </div>

</div>
