
<h2>Welcome {{title}}</h2>
<form action="/action_page.php">

  <label for="originationAirport">Enter Origination Airport:  </label>
  <input type="text" id="originationAirport" name="originationAirport"><br><br>

  <label for="destinationAirport">Enter Destination Airport:  </label>
  <input type="text" id="destinationAirport" name="destinationAirport"><br><br>

  <label for="travelDate">Enter Travel Date: </label>
  <input type="date" id="travelDate" name="travelDate" min="08/19/2020">

  <label for=""></label>

</form>




