
<h2>Welcome {{title}}</h2>
<form action="/action_page.php">

  <label for="originationAirport">Enter Origination Airport:  </label>

    <select name="originationAirport" id="originationAirport">
      <option value="laguardia">LaGuardia</option>
      <option value="lax">LAX </option>
      <option value="atl">ATL</option>
      <option value="jfk">JFK</option>

    </select> <br><br>

  <label for="destinationAirport">Enter Destination Airport:  </label>
  <select name="destinationAirport" id="destinationAirport">
       <option value="jfk">JFK</option>
      <option value="laguardia">LaGuardia</option>
      <option value="lax">LAX </option>
      <option value="atl">ATL</option>


    </select> <br><br>
  <label for="travelDate">Enter Travel Date: </label>
  <input type="date" id="travelDate" name="travelDate" min="2020-09-19"> <br><br>

  <label for="numberOfTravelers">Number of travelers: </label>
  <input type="number" id="numberOfTravelers" name="numberOfTravelers">


</form>




